*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.top-bar{
    display: flex;
    flex-direction: row;
    background-color: #DEDEDE;
    padding-top: 0.5em;
}
li{
    display: inline-block;
    padding-top: 3px;
    padding-left: 15px;
    padding-bottom: 3px;
    margin: 5px;
    margin-top: 0px;
    font-family: "Geologica", sans-serif;
}
.bottom-bar{
    display: flex;
    flex-direction: column;
    background-color:#E21836;
    height: 85px;

}
.left-side{
    margin-top: 10px;
    
}
.right-side{
    position: absolute;
    margin-left: 80%;
    margin-top: 30px;
}

.ion-icon{
    font-size: 80px;
}
#logo{
    margin-right: 25px;
}
.socials{
    position: relative;
    display: inline;
}

.img,img{

    width: 100%;
    position: relative;
    
    /* height: ; */
    
} 
.sectionOne{
    background-color: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    position: relative;
}
.sectionOne:hover{
    opacity: 1;
}
.sectionOne::before{
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,255), transparent 40%);
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

.imageOverlay{
    position: absolute;
    padding-left: 5%;
    top: 70%;
    
}
.textOnImage{
    font-family: "Geologica", sans-serif;
    color: #DEDEDE;
    
}
.btn1{
    position: static;
    size: 5em;

}
.forPadding{
    padding-bottom: 5px;
    padding-top: 8%;
    margin-bottom: 5vh;
    margin-left: 5vh;
}
/* .containerLarge{
    display: flex;
    justify-content: space-around;
    
} */
.sectionTwo{
    display: flex;
    
}
.scrollThese{
    height: 66vh;
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: visible;
    justify-content: flex-start;
    gap: 2vh;
    margin-left: 5vh;
} 
.cards1{
    flex: 1;
    background-color: white;
    height: auto;
    width: auto;
}
.scrollTheseImg{
    height: 70vh;
}
.scrollTheseImg:hover{
    transition: scale(1,1);
    height: 71vh;
    border-radius: 3%;
}

.bottomText{
    display: flex;
    text-align: left;
    font-weight: 600;
}
.trending-now{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5vh;
}
.trending_nav{
    display: flex;
    background-color: rgb(231, 231, 231);
    width: 50%;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 5vh;
}
.nav_link a{
    text-decoration: none;
    color: black;
    padding: 1vh;
}
.nav_link :hover{
    background-color: white;
    text-decoration: none;
    color: black;
}
.card_holder{
    display: flex;
    gap: 2vh;
    margin-bottom: 5vh;
    overflow: scroll;
    margin-left: 5vh;
}
.card_holder::-webkit-scrollbar{
    display: none;
}
.shoes_information{
    display: flex;
    justify-content: space-between;
}
.featured_item{
    margin-bottom: 5vh;
}
.animation{
    margin-bottom: 5vh;
}
.recommended{
    margin-bottom: 5vh;
}

