*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.top-bar{
    display: flex;
    flex-direction: row;
    background-color:whitesmoke;
}
li{
    display: inline-block;
    padding-top: 3px;
    padding-left: 15px;
    padding-bottom: 3px;
    margin: 5px;
    margin-top: 0px;
    font-family: "Geologica", sans-serif;
}
.bottom-bar{
    display: flex;
    flex-direction: column;
    background-color:#E21836;
    height: 85px;

}
.left-side{
    margin-top: 10px;
    
}
.right-side{
    position: absolute;
    margin-left: 80%;
    margin-top: 30px;
}

.ion-icon{
    font-size: 80px;
}
#logo{
    margin-right: 25px;
}
.socials{
    position: relative;
    display: inline;
}
